[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyscreenshot = "==3.1"
pillow = "==9.5.0"
python-docx = "==0.8.11"
pyautogui = "==0.9.53"
pynput = "==1.7.6"
python-xlib = "==0.33"
pywayland = "==0.4.15"

[dev-packages]

[requires]
python_version = "3.10"
